# Xcode and macOS
*.xcuserdata
*.xcworkspace
DerivedData/
build/
.DS_Store

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Carthage
Carthage/Build

# Environment Variables
.env
Secrets.xcconfig

