<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.BasicMapApp</string>
	<key>CFBundleName</key>
	<string>BasicMapApp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GoogleMapsAPIKey</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show it on the map.</string>
</dict>
</plist>
